/* Define color schemes for different themes */

/*
This is the default framework for the color schemes
--nav1;
--nav2;
--nav3;
--bac1;
--bac2;
--bac3;
--bac4;
--bac5;
--header-color;
--description-color;
--content-color;
--hover-description-background;
--effect-1;
--effect-2;
--gradient;
background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
background-size: 100% 100%;
background-repeat: no-repeat;
--button-text;
--hover-text;
--hover-subtext;
*/

:root {
  /* Default theme */
  --nav1: #2270ac;
  --nav2: #276594;
  --nav3: #265f8a;
  --bac1: #1a759f;
  --bac2: #1e6091;
  --bac3: #82c0d3;
  --bac4: #34a0a4;
  --bac5: #52b69a;
  --header-color: #9ad0c2;
  --description-color: #90c7b7;
  --content-color: #95d8c7;
  --hover-description-background: #092f41;
  --effect-1: #77d5f7;
  --effect-2: #52f7c8;
  --gradient: linear-gradient(264deg, #82c0d3, #34a0a4, #52b69a);
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --button-text: #90e7f8;
  --hover-text: #d8fafa;
  --hover-subtext: #f9faf5;
}

[data-theme="morning"] {
  /* Morning-themed colors */
  --nav1: #f0e68c; /* Light khaki */
  --nav2: #fafad2; /* Light goldenrod yellow */
  --nav3: #add8e6; /* Light blue */
  --bac1: #ffe4c4; /* Bisque */
  --bac2: #d3d3d3; /* Light gray */
  --bac3: #076381; /* Dark cyan */
  --bac4: #9ad0c2; /* Light turquoise */
  --bac5: #57cc99; /* Medium aquamarine */
  --header-color: #076381; /* Dark cyan */
  --description-color: #9ad0c2; /* Light turquoise */
  --content-color: #fafad2; /* Light goldenrod yellow */
  --hover-description-background: #57cc99; /* Medium aquamarine */
  --effect-1: #add8e6; /* Light blue */
  --effect-2: #ffe4c4; /* Bisque */
  /* Background with gradients in different directions */
  background-image: radial-gradient(circle at 10% 20%, var(--bac1), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac4), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --hover-text: #d8fafa; /* Light cyan */
  --hover-subtext: #f9faf5; /* Beige */
}

/* Lemonade theme */
[data-theme="lemonade"] {
  --nav1: #ffe4c4; /* Bisque */
  --nav2: #ffd700; /* Gold */
  --nav3: #f0e68c; /* Khaki */
  --bac1: #f3e598; /* Pale yellow, extracted from background-color */
  --bac2: #f5f5dc; /* Light beige, extracted from background-color */
  --bac3: #fff8dc; /* Pale apricot, extracted from background-color */
  --bac4: #f3e598; /* Pale yellow, extracted from background-color */
  --bac5: #f5f5dc; /* Light beige, extracted from background-color */
  --header-color: #0c0475;
  --description-color: #0612b9;
  --content-color: #1723ce;
  --hover-description-background: #ffd700; /* Gold */
  --effect-1: #f0e68c; /* Khaki */
  --effect-2: #fafad2; /* Light goldenrod yellow */
  --gradient: linear-gradient(264deg, #fafad2, #f5f5dc, #fff8dc);
  background-image: radial-gradient(circle at 10% 20%, var(--bac1), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac4), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --hover-text: #ffd700; /* Gold */
  --hover-subtext: #fff8dc; /* Cornsilk */
}

/* Mountain Dew theme */
[data-theme="mountain-dew"] {
  --nav1: #2699bd; /* Mountain Dew Green */
  --nav2: #a7e0f7; /* Ice Blue */
  --nav3: #00739d; /* Dark Mountain Dew Green */
  --bac1: #eef7ff; /* Light Ice Blue, extracted from background-color */
  --bac2: #f8f9fd; /* Pale Blue, extracted from background-color */
  --bac3: #f5f8fc; /* Very Light Ice Blue, extracted from background-color */
  --bac4: #eef7ff; /* Light Ice Blue, extracted from background-color */
  --bac5: #f8f9fd; /* Pale Blue, extracted from background-color */
  --header-color: #00739d; /* Dark Mountain Dew Green */
  --description-color: #2699bd; /* Mountain Dew Green */
  --content-color: #2699bd; /* Mountain Dew Green */
  --button-text: #00739d; /* Dark Mountain Dew Green, assumed based on header-color */
  --hover-text: #00739d; /* Dark Mountain Dew Green */
  --hover-subtext: #2699bd; /* Mountain Dew Green */
  --background-color: linear-gradient(
    264deg,
    var(--bac1),
    var(--bac2),
    var(--bac3)
  );
  --navbar-color: #a7e0f7; /* Ice Blue */
  --footer-color: #e4f3f9; /* Lighter Ice Blue */
  --hover-description-background: #d9e4f2; /* Very Light Ice Blue with slight transparency */
  --effect-1: #eef7ff; /* Light Ice Blue */
  --effect-2: #c6e1f2; /* Lighter Ice Blue */
}

[data-theme="breezy"] {
  --nav1: #7595be;
  --nav2: #69a3ac;
  --nav3: #00b4d8;
  --bac1: #eef5ff; /* Very light blue */
  --bac2: #9eb8d9; /* Light blue-green */
  --bac3: #7c93c3; /* Mid-blue */
  --bac4: #e3ecf5; /* Lighter blue, extracted from original background gradient */
  --bac5: #d1e7f3; /* Very light blue, extracted from original background gradient */
  --header-color: #453f35;
  --description-color: #6b6357;
  --content-color: #8d8479;
  --background-color: linear-gradient(259deg, #eef5ff, #9eb8d9, #7c93c3);
  --button-text: #3579d3;
  --gradient: linear-gradient(259deg, var(--bac1), var(--bac2), var(--bac3));
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --effect-1: var(--bac2); /* Light blue-green */
  --effect-2: var(--bac3); /* Mid-blue */
}

/* Coffee theme with various brown shades */
[data-theme="coffee"] {
  --nav1: #dbc2a2; /* Light brown */
  --nav2: #b2916e; /* Medium-light brown */
  --nav3: #825f49; /* Medium brown */
  --bac1: #6e4c38; /* Medium-dark brown */
  --bac2: #402b1c; /* Dark brown */
  --bac3: #261a12; /* Darkest brown */
  --bac4: #986951; /* Lighter brown */
  --bac5: #543b35; /* Darker brown */
  --header-color: #402b1c; /* Dark brown */
  --description-color: #825f49; /* Medium brown */
  --content-color: #dbc2a2; /* Light brown */
  --hover-description-background: #b2916e; /* Medium-light brown */
  --effect-1: #986951; /* Lighter brown */
  --effect-2: #402b1c; /* Dark brown */
  --gradient: linear-gradient(
    260deg,
    #dbc2a2,
    #6e4c38,
    #402b1c
  ); /* Gradient within brown tones */
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --button-text: #b2916e; /* Medium-light brown */
  --hover-text: #543b35; /* Darker brown */
  --hover-subtext: #dbc2a2; /* Light brown */
}

/* Summer theme */
[data-theme="summer"] {
  --nav1: #ffcc00; /* Vivid Yellow */
  --nav2: #ffa500; /* Orange */
  --nav3: #ff7f50; /* Coral */
  --bac1: #ffe4e1; /* Misty Rose */
  --bac2: #f0f8ff; /* Alice Blue */
  --bac3: #7fffd4; /* Aquamarine */
  --bac4: #87cefa; /* Light Sky Blue */
  --bac5: #98fb98; /* Pale Green */
  --header-color: #2e8b57; /* Sea Green (darker turquoise) */
  --description-color: #6a5acd; /* Slate Blue (darker light blue) */
  --content-color: #bdb76b; /* Dark Khaki */
  --hover-description-background: #ffcc00; /* Vivid Yellow */
  --effect-1: #87cefa; /* Light Sky Blue */
  --effect-2: #7fffd4; /* Aquamarine */
  --gradient: linear-gradient(
    264deg,
    #87cefa,
    #ffa500,
    #98fb98
  ); /* Custom Gradient */
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --button-text: #ffd700; /* Gold */
  --hover-text: #ff4500; /* Orange Red */
  --hover-subtext: #ffffe0; /* Light Yellow */
}

/* Halloween theme with added variables */
[data-theme="halloween"] {
  --header-color: #ff6b6b; /* Red */
  --description-color: #ffb166; /* Orange */
  --content-color: #855757; /* Dark Gray */
  --background-color: linear-gradient(
    260deg,
    #000000,
    #3d0842
  ); /* Black to Dark Purple */
  --nav1: #ff8e8e; /* Light red */
  --nav2: #ffcc99; /* Light orange */
  --nav3: #4d4d4d; /* Medium Gray */
  --bac1: #660000; /* Dark red */
  --bac2: #ff751a; /* Orange-red */
  --bac3: #1a1a1a; /* Dark Gray */
  --bac4: #660066; /* Purple */
  --bac5: #262626; /* Very Dark Gray */
  --hover-description-background: #ff8e8e; /* Light red (same as nav1) */
  --effect-1: #ff761a81; /* Orange-red (same as bac2) */
  --effect-2: #66006683; /* Purple (same as bac4) */
  --gradient: linear-gradient(
    260deg,
    #ff8e8e,
    #ff6b6b,
    #262626
  ); /* Gradient within Halloween colors */
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --button-text: #ffb166; /* Orange (same as description-color) */
  --hover-text: #ffcc99; /* Light orange (same as nav2) */
  --hover-subtext: #333333; /* Dark Gray (same as content-color) */
}

/* Custom theme with provided background color */
[data-theme="moonlit"] {
  --nav1: #ffd700; /* Gold */
  --nav2: #99ffff; /* Light Cyan */
  --nav3: #c0c0c0; /* Silver */
  --bac1: #000033; /* Dark Midnight Blue */
  --bac2: #191970; /* Midnight Blue */
  --bac3: #808080; /* Gray */
  --bac4: #483d8b; /* Dark Slate Blue */
  --bac5: #dcdcdc; /* Gainsboro */
  --header-color: #ffd700; /* Gold */
  --description-color: #99ffff; /* Light Cyan */
  --content-color: #c0c0c0; /* Silver */
  --hover-description-background: #808080; /* Gray */
  --effect-1: #483d8b; /* Dark Slate Blue */
  --effect-2: #191970; /* Midnight Blue */
  --gradient: linear-gradient(
    260deg,
    #000033,
    #191970
  ); /* Provided background color gradient */
  background-image: radial-gradient(circle at 10% 20%, var(--bac4), transparent),
    radial-gradient(circle at 80% 70%, var(--bac2), transparent),
    linear-gradient(to bottom right, var(--bac3), transparent),
    linear-gradient(to top left, var(--bac1), transparent),
    linear-gradient(to bottom, var(--bac5), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  --button-text: #808080; /* Gray */
  --hover-text: #dcdcdc; /* Gainsboro */
  --hover-subtext: #c0c0c0; /* Silver */
}

/* Ocean City theme */
[data-theme="ocean-city"] {
  --header-color: #90d1f9;
  --description-color: #e0e0e2;
  --content-color: #dbf9ff;
  --background-color: linear-gradient(260deg, #023e8a, #0077b6);
  --text: #067288;
}

/* Street Light theme */
[data-theme="street-light"] {
  --header-color: #ffd700;
  --description-color: #def5b9;
  --content-color: #a9a9a9;
  --background-color: linear-gradient(260deg, #333333, #000000);
  --navbar-color: #696969;
  --footer-color: #ffd700;
  --hover-text: #f1e575;
  --hover-subtext: #f1e575;
  --hover-text: #f0dc6a;
  --hover-subtext: #fdeb81;
}

/* Neon Night theme */
[data-theme="neon-night"] {
  --header-color: #00ff00;
  --description-color: #ffff00;
  --content-color: #ffffff;
  --background-color: linear-gradient(260deg, #000000, #0d0d0d);
  --hover-text: #fa38b0;
  --hover-subtext: #c942f1;
  --hover-text: #1ee0fa;
  --hover-subtext: #0cf866;
}

/* Styling theme color palette */
[data-theme="styling"] {
  --nav1: #4d8b67;
  --nav2: #15ac10;
  --nav3: #0a773b;
  --nav4: #1aa733;
  --nav5: #15b625;
  --header-color: #466cdd;
  --description-color: #6a0572;
  --content-color: #ffb400;
  --background-color: linear-gradient(
    260deg,
    #0a043c,
    #243b55
  ); /* Dark blue and chrome gradient */
}

[data-theme="cyberpunk"] {
  --nav1: #00ff9f;
  --nav2: #00b8ff;
  --nav3: #001eff;
  --nav4: #bd00ff;
  --nav5: #d600ff;
  --header-color: #262a10;
  --description-color: #323716;
  --content-color: #42481c;
  --background-color: linear-gradient(264deg, #170013, #3a0040, #540067);
  --hover-description-background: #baec03;
  --hover-text: #a1b430;
  --hover-subtext: #c9f30f;
}

body {
  background: var(--background-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #d1d1d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  color: #535bf2;
}

nav {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 7em;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-color);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  margin: 0;
}
.section-fluid-main {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(100% - 40px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 100px 0;
}
.section-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section-row:hover .section-col {
  opacity: 0.1;
}
.section-col {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms linear;
}
.section-row .section-col:hover {
  opacity: 1;
}
.section {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
}
.section-in {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.section-in img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 250ms linear;
}
.section-col:hover .section-in img {
  transform: scale(1.1) rotate(-3deg);
}

.hover-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  mix-blend-mode: difference;
}
.hover-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 250ms linear, opacity 250ms ease;
}
.section-col:hover + .hover-text h2 {
  opacity: 1;
  transform: scale(1);
}

.logo {
  position: fixed;
  top: 25px;
  left: 25px;
  display: block;
  z-index: 1000;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  transition: filter 250ms 700ms linear;
}

@media (max-width: 767px) {
  .section-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hover-text h2 {
    font-size: 12vw;
  }
}

.pillar {
  display: block;
  margin: 100px auto;
  width: 300px;
  transform: translateX(-200px);
  perspective: 1900px;
}

.wrap {
  display: flex;
  transform: rotateY(0deg);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
}

.row {
  width: 800px;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover .wrap {
    transform: rotateY(-90deg);
    cursor: pointer;
  }
  &:hover {
    z-index: 1;
  }
  &:hover .left {
    &:before {
      width: 55%;
    }
  }

  .left {
    width: 400px;
    padding: 15px 20px;
    text-align: right;

    transform-style: preserve-3d;
    transform: rotateY(0deg);
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      transition: width 1s ease-in-out;
    }
  }
  .right {
    width: 400px;
    padding: 15px 20px;
    text-align: left;
    transform: rotateY(90deg);
    transform-origin: left center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
}

* {
  box-sizing: border-box;
  font-family: "Spartan";
}
